<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="MongoDBAppender" type="Log4Mongo.MongoDBAppender, Log4Mongo">
     
      <connectionString value="mongodb://127.0.0.1:27017/Mongo_Log4Net" />
      <collectionName value="mylogs" />

      <field>
         <!--Note: this needs to be "timestamp" and NOT "Timestamp"  for the TTL index to work--> 
        <name value="timestamp" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </field>
      <field>
        <name value="level" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </field>
      <field>
        <name value="thread" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </field>
      <field>
        <name value="logger" />
        <layout type="log4net.Layout.PatternLayout" value="%logger" />
      </field>
      <field>
        <name value="message" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </field>
      <field>
        <name value="title"/>
        <layout type="ConsoleApp.LogMongonet.TitleLayout" value="%title"/>
      </field>

      <!--<field>
        <name value="mycustomproperty" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="mycustomproperty" />
        </layout>
      </field>-->
    </appender>
    <!--<appender name="MongoDBAppender" type="Log4Mongo.MongoDBAppender, Log4Mongo">
      <connectionString value="mongodb://127.0.0.1:27017/Mongo_Log4Net" />
      <CollectionName value="mylogs" />
    </appender>-->

    <root>
      <level value="ALL" />
      <appender-ref ref="MongoDBAppender" />
    </root>
  </log4net>
</configuration>
